* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-clr: #151515;
  --txt-clr-1: #fff;
  --txt-clr-2: rgba(255, 255, 255, 0.4);
}
p,
h1,
button,
a {
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: var(--txt-clr-1);
}
button {
  cursor: pointer;
  border: none;
}
section {
  height: 100vh;
  background: var(--bg-clr);
  padding: 30px;
  position: relative;
  overflow: hidden;
}
section .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 5px;
}
section .title a {
  text-decoration: none;
  color: var(--txt-clr-2);
  font-size: 12px;
  cursor: pointer;
  margin-top: 4px;
}

/* buttons styles */
.buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons button {
  background: transparent;
  width: 220px;
  padding: 20px 0;
  font-weight: bold;
  color: var(--txt-clr-1);
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.buttons .save {
  border: 2px solid var(--txt-clr-2);
  background: linear-gradient(
    90deg,
    rgba(15, 171, 150, 1) 0%,
    rgba(4, 204, 177, 0.7316020447530864) 49%,
    rgba(21, 21, 21, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttons .load {
  background: rgb(179, 105, 238);
  background: linear-gradient(
    -90deg,
    rgb(171, 88, 239) 0%,
    rgb(114, 29, 241) 100%
  );
  transition: all 0.5s ease;
}
/* circles styles */
section .circle__1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgb(179, 105, 238);
  background: linear-gradient(
    -90deg,
    rgb(171, 88, 239) 0%,
    rgb(114, 29, 241) 100%
  );
  position: absolute;
  top: 20%;
  right: -22%;
}

section .circle__2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(15, 171, 150);
  background: linear-gradient(
    94deg,
    rgba(15, 171, 150, 1) 0%,
    rgba(4, 204, 177, 0.7316020447530864) 49%,
    rgba(21, 21, 21, 1) 100%
  );
  position: absolute;
  top: 16%;
  left: 15%;
}
section .circle__3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(255, 175, 0);
  position: absolute;
  top: -6%;
  left: 55%;
}
section .circle__4 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(255, 175, 0);
  position: absolute;
  top: 66%;
  left: 12%;
}
section .circle__5 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgb(232, 115, 42);
  background: linear-gradient(
    90deg,
    rgba(232, 115, 42, 1) 0%,
    rgba(212, 33, 0, 1) 39%
  );
  position: absolute;
  top: 70%;
  right: -5%;
}
section .circle__6 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #263341;
  position: absolute;
  top: 80%;
  left: -15%;
}

section .circle__7 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(179, 105, 238);
  background: linear-gradient(
    90deg,
    rgb(171, 88, 239) 0%,
    rgb(114, 29, 241) 100%
  );
  position: absolute;
  top: 90%;
  right: 20%;
}
/* form styles */
form label {
  color: rgba(255, 255, 255);
  font-family: Roboto;
  margin: 10px 0;
}
form select option {
  color: #151515;
  font-family: Roboto;
  font-weight: bold;
}
form input {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--txt-clr-2);
  height: 35px;
  font-size: 16px;
  color: var(--txt-clr-1);
  margin-bottom: 10px;
}
form input:focus {
  outline: none;
}
form textarea {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--txt-clr-2);
  height: 65px;
  font-size: 16px;
  color: var(--txt-clr-1);
  margin-bottom: 10px;
  resize: none;
}
form textarea:focus {
  outline: none;
}
section .form__wrapper {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  position: absolute;
  top: 42%;
  transform: translateY(-42%);
  width: 85%;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--txt-clr-2);
  height: 35px;
  font-size: 16px;
  color: var(--txt-clr-2);
  margin: 10px 0;
}
.form select:focus {
  outline: none;
}
.form select option {
  background-color: var(--bg-clr);
  color: var(--txt-clr-2);
  font-size: 12px;
}
.form .submit {
  border-radius: 8px;
  background: linear-gradient(90deg, #263341, #015871);
  width: 85%;
  height: 50px;
  font-weight: bold;
  margin: 20px auto 0 auto;
  color: var(--txt-clr-1);
  letter-spacing: 1.5px;
}

/* waves animation  */

.ocean {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -190px;
  width: 6400px;
  height: 200px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
/* form 2 styles */
section .form__2 {
  width: 60%;
  margin: 20px auto;
  align-items: center;
}
section .form__2 select {
  text-align: center;
}

section .form__2 .form__2__submit {
  margin: 5px 10px;
  height: 40px;
  width: 60%;
  font-weight: bold;
  border: 2px solid var(--txt-clr-2);
  background: transparent;
}
/* swiper styles */
.swiper {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-slide p {
  color: var(--txt-clr-1);
  font-size: 28px;
  max-width: 80%;
  text-align: justify;
}
.swiper-slide span {
  font-family: Montserrat;
  color: var(--txt-clr-2);
  font-size: 14px;
  position: absolute;
  top: 90%;
  left: 60%;
}
.swiper .swiper-wrapper {
  width: 70%;
  margin: 0 auto;
}
.swiper-wrapper .swiper-slide {
  position: relative;
  height: auto;
  padding: 45px 0;
}
