* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
}
p {
  font-family: montserrat;
}
i {
  pointer-events: none;
}
.wrapper {
  height: 100vh;
  background: url("./images/app-bg-1-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wrapper .container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-3%, -50%);
}
.wrapper form {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapper form input {
  margin: 15px 0;
  padding: 10px;
  border-radius: 18px;
  border: 1px solid rgb(71, 70, 70);
}
.wrapper .signup {
  width: 200px;
  margin: 15px 0;
  text-align: center;
}
.wrapper .btn {
  font-family: roboto;
  font-weight: bold;
  margin: 10px 0;
  width: 100%;
  padding: 10px 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  color: #fff;
}
.wrapper .login__btn {
  background: rgb(172, 49, 49);
}
.wrapper .signup__btn {
  margin-top: 22px;
  background: black;
}
/* sign up  styles */
.signup__wrapper {
  background: url("./images/app-bg-2-01.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* display  styles */
.form__wrapper {
  height: 60vh;
  background: url("./images/app-bg-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  position: relative;
}
.form__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.form__wrapper form {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  z-index: 100;
}
.form__wrapper form input {
  padding: 10px;
  width: 180px;
  border-radius: 6px;
  border: 1px solid rgb(71, 70, 70);
  margin-right: 15px;
}
.form__wrapper form .btn {
  font-family: roboto;
  font-weight: bold;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}
.form__wrapper form .delete__book {
  background: rgb(172, 49, 49);
}
.form__wrapper form select {
  width: 180px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(71, 70, 70);
  cursor: pointer;
  margin-right: 15px;
}

.form__wrapper form select:focus {
  outline: none;
}
.section__two {
  padding: 15px 0;
  background: rgba(0, 0, 0);
}
.lists__wrapper {
  width: 80%;
  margin: 20px auto;
  min-height: 40vh;
}
.section__two .title h3 {
  text-align: center;
  color: #fff;
  padding: 15px 0;
}

.lists__wrapper .list {
  height: 100px;
  width: 60%;
  overflow: hidden;
  margin: 25px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255);
}
.lists__wrapper .list .text {
  position: relative;
}
.lists__wrapper .list ul {
  margin: 30px 0 0 30px;
}

.lists__wrapper .list p {
  padding: 5px 0;
}
.lists__wrapper .list .buttons {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
}

.lists__wrapper .list__btn {
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.1s linear;
}
.list .buttons .delete__list {
  cursor: pointer;
  border: none;
  margin-left: 15px;
}
.lists__wrapper .list__btn:hover {
  transform: rotate(90deg);
}

.minus__icon {
  display: none;
}
.lists__wrapper .show__list {
  height: auto;
}

.show__list .minus__icon {
  display: block;
}
.show__list .plus__icon {
  display: none;
}

/* logout link styles  */
.section__one {
  position: relative;
}
.logout__wrapper {
  display: flex;
  gap: 15px;

  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 100;
}
.logout__wrapper p {
  color: #fff;
  text-transform: capitalize;
  font-family: roboto;
}
.logout__wrapper i {
  margin-right: 5px;
}
.logout__wrapper .logout {
  color: #fff;
  transition: all 0.3s linear;
}

.logout:hover {
  letter-spacing: 1.5px;
}
